<div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="grid gap-4 mb-10 md:grid-cols-3">
    <div>
      <label for="cliente" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cliente</label>
      <input type="text"
             id="cliente"
             value="{{pedido.cliente.nombre}} {{pedido.cliente.apellidos ? pedido.cliente.apellidos : ''}}"
             disabled readonly
             class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-indigo-500 dark:focus:border-indigo-500">
    </div>
    <div>
      <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha del pedido</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <span class="material-symbols-outlined text-gray-400 dark:text-white">
                calendar_month
              </span>
        </div>
        <input type="text"
               id="fecha"
               value="{{formatDate(pedido.fechaPedido)}}"
               disabled readonly
               class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-10 p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-indigo-500 dark:focus:border-indigo-500">
      </div>
    </div>
    <div>
      <label for="importe" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Importe</label>
      <div class="relative">
        <input type="number"
               id="importe"
               value="{{pedido.costeTotal}}"
               disabled readonly
               class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-10 p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-indigo-500 dark:focus:border-indigo-500">
        <div class="absolute text-gray-400 inset-y-0 flex items-center ps-3.5 pointer-events-none">€</div>
      </div>
    </div>
  </div>
  <ol class="flex items-center">
    <li class="relative w-full mb-6">
      <div class="flex items-center">
        <div class="z-10 flex items-center justify-center w-6 h-6 rounded-full ring-0 ring-white sm:ring-8 dark:ring-gray-900 shrink-0"
             [ngClass]="pedido.estado === 'CANCELADO' ? 'bg-red-600 dark:bg-red-900' : 'bg-indigo-600 dark:bg-indigo-900'">
          <span class="material-symbols-outlined scale-75 text-white">
            {{ pedido.estado === 'CANCELADO' ? 'close' : 'check' }}
          </span>
        </div>
        <div class="flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
      </div>
      <div class="mt-3">
        <h3 class="font-medium text-gray-900 dark:text-white">
          {{pedido.estado === 'CANCELADO' ? 'Cancelado' : 'Pendiente'}}
        </h3>
      </div>
    </li>
    <li class="relative w-full mb-6">
      <div class="flex items-center">
        <div class="z-10 flex items-center justify-center w-6 h-6 rounded-full ring-0 ring-white sm:ring-8 dark:ring-gray-900 shrink-0"
             [ngClass]="pedido.estado === 'PROCESADO' || pedido.estado === 'ENVIADO' || pedido.estado === 'RECIBIDO' ? 'bg-indigo-600 dark:bg-indigo-900' : 'bg-gray-200 dark:bg-gray-700'">
          <span class="material-symbols-outlined scale-75 text-white">
            check
          </span>
        </div>
        <div class="flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
      </div>
      <div class="mt-3">
        <h3 class="font-medium text-gray-900 dark:text-white">Procesado</h3>
      </div>
    </li>
    <li class="relative w-full mb-6">
      <div class="flex items-center">
        <div class="z-10 flex items-center justify-center w-6 h-6 rounded-full ring-0 ring-white sm:ring-8 dark:ring-gray-900 shrink-0"
             [ngClass]="pedido.estado === 'ENVIADO' || pedido.estado === 'RECIBIDO' ? 'bg-indigo-600 dark:bg-indigo-900' : 'bg-gray-200 dark:bg-gray-700'">
          <span class="material-symbols-outlined scale-75 text-white">
            check
          </span>
        </div>
        <div class="flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
      </div>
      <div class="mt-3">
        <h3 class="font-medium text-gray-900 dark:text-white">Enviado</h3>
      </div>
    </li>
    <li class="relative w-full mb-6">
      <div class="flex items-center">
        <div class="z-10 flex items-center justify-center w-6 h-6 rounded-full ring-0 ring-white dark:bg-gray-700 sm:ring-8 shrink-0"
             [ngClass]="pedido.estado === 'RECIBIDO' ? 'bg-indigo-600 dark:bg-indigo-900' : 'bg-gray-200 dark:bg-gray-700'">
          <span class="material-symbols-outlined scale-75 text-white">
            check
          </span>
        </div>
      </div>
      <div class="mt-3">
        <h3 class="font-medium text-gray-900 dark:text-white">Recibido</h3>
      </div>
    </li>
  </ol>
  <div class="flex items-center justify-between">
    <div>
      <a href="#" [routerLink]="['/user/ventas/pedidos-table']" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
        <svg class="w-4 h-4 me-1 transform scale-x-[-1]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
        Volver atrás
      </a>
    </div>
    <div>
      @if (showCancelarButton && pedido.estado !== 'RECIBIDO' && pedido.estado !== 'CANCELADO') {
        <button (click)="openCancelarPedidoModal()" class="cursor-pointer items-center justify-center text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 me-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800">
          Cancelar pedido
        </button>
      }
      @if (showCambiarEstadoButton && pedido.estado !== 'RECIBIDO' && pedido.estado !== 'CANCELADO') {
        <button (click)="openCambiarEstadoPedidoModal()" class="cursor-pointer items-center justify-center text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-indigo-600 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800">
          Cambiar estado
        </button>
      }
      @if (pedido != null && pedido.estado === 'RECIBIDO') {
        <button class="cursor-pointer items-center justify-center text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-indigo-600 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800">
          Generar factura
        </button>
      }
    </div>
  </div>
</div>

<!-- Tabla de los productos -->
<div class="w-full bg-white mt-6 border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  <h2 class="p-4 text-lg font-bold text-gray-900 dark:text-white">Productos pedidos</h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-16 py-3">
          <span class="sr-only">Imagen</span>
        </th>
        <th scope="col" class="px-6 py-3">
          Producto
        </th>
        <th scope="col" class="px-6 py-3">
          Cantidad
        </th>
        <th scope="col" class="px-6 py-3">
          Subtotal
        </th>
      </tr>
      </thead>
      <tbody>
        @for (detalle of detallesPedido; track detalle.id) {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="p-4">
              <img src="{{ detalle.producto.imagenUrl ? detalle.producto.imagenUrl : '/images/no_product_image.jpg' }}" class="w-16 rounded-lg md:w-32 max-w-full max-h-full" alt="{{ detalle.producto.nombre }}" loading="lazy">
            </td>
            <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
              {{ detalle.producto.nombre }}
            </td>
            <td class="px-6 py-4">
              {{ detalle.cantidad }}
            </td>
            <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
              {{ detalle.subtotal | currency:'EUR':'symbol':'1.2-2' }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Modal cambiar estado -->
<app-confirmation-modal
  [id]="'change-state-modal'"
  [message]="'¿Estás seguro de que quieres cambiar el pedido al siguiente estado?'"
  [confirmText]="'Cambiar estado'"
  (onConfirm)="cambiarSiguienteEstadoPedido()"
  (onCancel)="closeModal()">
</app-confirmation-modal>

<!-- Modal cancelar pedido -->
<app-confirmation-modal
  [id]="'cancel-modal'"
  [message]="'¿Estás seguro de que quieres cancelar el pedido?'"
  [confirmText]="'Cancelar pedido'"
  (onConfirm)="cancelarPedido()"
  (onCancel)="closeModal()">
</app-confirmation-modal>
