@if (!loading) {
  <div class="bg-gray-100 p-4 mb-4 rounded-lg">
    <h1 class="text-md text-gray-500 mb-4">Últimos 30 días</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <app-info-card
        icon="payments"
        iconClass="bg-lime-700 text-white"
        label="Ventas en curso"
        [value]="dashboardSummary.ventasEnCurso">
      </app-info-card>
      <app-info-card
        icon="people"
        label="Clientes nuevos"
        [value]="dashboardSummary.clientesNuevos">
      </app-info-card>
      <app-info-card
        icon="inventory_2"
        iconClass="bg-yellow-700 text-white"
        label="Pedidos a proveedores"
        [value]="dashboardSummary.pedidosProveedores">
      </app-info-card>
    </div>
  </div>

  <div class="bg-gray-100 p-4 mb-4 rounded-lg">
    <h1 class="text-md text-gray-500 mb-4">Últimos 6 meses</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <app-profit-chart [incomesAndExpenses]="icomesAndExpenses" />
      <app-sales-chart [sales]="sales"></app-sales-chart>
    </div>
  </div>
}
